- let firstName = 'Richard'
- let lastName = 'Stibbard'
- let fullName = `${firstName} aaaand ${lastName}`
p #{firstName}

p#first-name #{firstName}

p.first-name #{firstName}

p= firstName
#firstName= firstName
.full-name= firstName + ' ' + lastName
.fullname #{firstName} #{lastName}
#data= `${firstName} и еще  ${lastName}`
#full #{fullName}